
/* Your CSS Code here. */

.moviePic{
	width: 250px;
	height: 350px;
	opacity: 0.9;
	display: block;
	margin: 20px auto;
}

.movieDetail{
	position: relative;
	top: 10px;
	width: 80%;
	margin: auto;
	text-align: center;
	font-size:1.1;
	
}